<%= form_with(model: nhacungcap, local: true) do |form| %>
  <% if nhacungcap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nhacungcap.errors.count, "error") %> prohibited this nhacungcap from being saved:</h2>

      <ul>
        <% nhacungcap.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tenncc %>
    <%= form.text_field :tenncc %>
  </div>

  <div class="field">
    <%= form.label :sdt %>
    <%= form.text_field :sdt %>
  </div>

  <div class="field">
    <%= form.label :diachi %>
    <%= form.text_field :diachi %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
