<p id="notice"><%= notice %></p>

<p>
  <strong>Tenncc:</strong>
  <%= @nhacungcap.tenncc %>
</p>

<p>
  <strong>Sdt:</strong>
  <%= @nhacungcap.sdt %>
</p>

<p>
  <strong>Diachi:</strong>
  <%= @nhacungcap.diachi %>
</p>

<p>
  <strong>Email:</strong>
  <%= @nhacungcap.email %>
</p>

<%= link_to 'Edit', edit_nhacungcap_path(@nhacungcap) %> |
<%= link_to 'Back', nhacungcaps_path %>
