<p id="notice"><%= notice %></p>

<p>
  <strong>Ngaygiao:</strong>
  <%= @giaohang.ngaygiao %>
</p>

<p>
  <strong>Tinhtrang:</strong>
  <%= @giaohang.tinhtrang %>
</p>

<p>
  <strong>Ghichu:</strong>
  <%= @giaohang.ghichu %>
</p>

<%= link_to 'Edit', edit_giaohang_path(@giaohang) %> |
<%= link_to 'Back', giaohangs_path %>
