<p id="notice"><%= notice %></p>

<h1>Danhsach Huis</h1>

<table>
  <thead>
    <tr>
      <th>Taphuuich</th>
      <th>Dohuuich</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @danhsach_huis.each do |danhsach_hui| %>
      <tr>
        <td><%= danhsach_hui.taphuuich %></td>
        <td><%= danhsach_hui.dohuuich %></td>
        <td><%= link_to 'Show', danhsach_hui %></td>
        <td><%= link_to 'Edit', edit_danhsach_hui_path(danhsach_hui) %></td>
        <td><%= link_to 'Destroy', danhsach_hui, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Danhsach Hui', new_danhsach_hui_path %>
