<p id="notice"><%= notice %></p>

<p>
  <strong>Taphuuich:</strong>
  <%= @danhsach_hui.taphuuich %>
</p>

<p>
  <strong>Dohuuich:</strong>
  <%= @danhsach_hui.dohuuich %>
</p>

<%= link_to 'Edit', edit_danhsach_hui_path(@danhsach_hui) %> |
<%= link_to 'Back', danhsach_huis_path %>
