<p id="notice"><%= notice %></p>

<p>
  <strong>Mausp:</strong>
  <%= @chitietsanpham.mausp %>
</p>

<p>
  <strong>Size:</strong>
  <%= @chitietsanpham.size %>
</p>

<p>
  <strong>Soluongton:</strong>
  <%= @chitietsanpham.soluongton %>
</p>

<p>
  <strong>Giaban:</strong>
  <%= @chitietsanpham.giaban %>
</p>

<p>
  <strong>Hinh1:</strong>
  <%= @chitietsanpham.hinh1 %>
</p>

<p>
  <strong>Hinh2:</strong>
  <%= @chitietsanpham.hinh2 %>
</p>

<p>
  <strong>Hinh3:</strong>
  <%= @chitietsanpham.hinh3 %>
</p>

<p>
  <strong>Hinh4:</strong>
  <%= @chitietsanpham.hinh4 %>
</p>

<p>
  <strong>Sanpham:</strong>
  <%= @chitietsanpham.sanpham_id %>
</p>

<%= link_to 'Edit', edit_chitietsanpham_path(@chitietsanpham) %> |
<%= link_to 'Back', chitietsanphams_path %>
