<%= form_with(model: danhmuc, local: true) do |form| %>
  <% if danhmuc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(danhmuc.errors.count, "error") %> prohibited this danhmuc from being saved:</h2>

      <ul>
        <% danhmuc.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tendanhmuc %>
    <%= form.text_field :tendanhmuc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
