<p id="notice"><%= notice %></p>

<p>
  <strong>Tenthuonghieu:</strong>
  <%= @thuonghieu.tenthuonghieu %>
</p>

<p>
  <strong>Hinhanh:</strong>
  <%= @thuonghieu.hinhanh %>
</p>

<p>
  <strong>Diachi:</strong>
  <%= @thuonghieu.diachi %>
</p>

<p>
  <strong>Email:</strong>
  <%= @thuonghieu.email %>
</p>

<%= link_to 'Edit', edit_thuonghieu_path(@thuonghieu) %> |
<%= link_to 'Back', thuonghieus_path %>
