<%= form_with(model: chitiethoadonnhap, local: true) do |form| %>
  <% if chitiethoadonnhap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chitiethoadonnhap.errors.count, "error") %> prohibited this chitiethoadonnhap from being saved:</h2>

      <ul>
        <% chitiethoadonnhap.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :soluongnhap %>
    <%= form.number_field :soluongnhap %>
  </div>

  <div class="field">
    <%= form.label :dongia %>
    <%= form.text_field :dongia %>
  </div>

  <div class="field">
    <%= form.label :hoadonnhap_id %>
    <%= form.text_field :hoadonnhap_id %>
  </div>

  <div class="field">
    <%= form.label :chitietsanpham_id %>
    <%= form.text_field :chitietsanpham_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
