<p id="notice"><%= notice %></p>

<h1>Chitiethoadonnhaps</h1>

<table>
  <thead>
    <tr>
      <th>Soluongnhap</th>
      <th>Dongia</th>
      <th>Hoadonnhap</th>
      <th>Chitietsanpham</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chitiethoadonnhaps.each do |chitiethoadonnhap| %>
      <tr>
        <td><%= chitiethoadonnhap.soluongnhap %></td>
        <td><%= chitiethoadonnhap.dongia %></td>
        <td><%= chitiethoadonnhap.hoadonnhap_id %></td>
        <td><%= chitiethoadonnhap.chitietsanpham_id %></td>
        <td><%= link_to 'Show', chitiethoadonnhap %></td>
        <td><%= link_to 'Edit', edit_chitiethoadonnhap_path(chitiethoadonnhap) %></td>
        <td><%= link_to 'Destroy', chitiethoadonnhap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chitiethoadonnhap', new_chitiethoadonnhap_path %>
